@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
@import (reference) 'less/_theme.less';
@import (once) 'less/_reset';
@import (once) 'less/_core.less';
@import (once) 'less/_animations.less';
@import (once) 'less/_icons.less';
@import (once) 'less/_modals.less';
@import (once) 'less/_error.less';
@import (once) 'less/_loaders.less';
@import (once) 'less/_controls.less';
@import (once) 'less/_calendar.less';
@import (once) 'less/_components.less';

/*#region global */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    .stretch;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background: @main-background-color;
    color: @main-foreground-color;
}

*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    font: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
}

/*#endregion */

.link {
    color: inherit;
    text-decoration: none;

    &.link-special {
        color: @color-primary-special;

        &:hover {
            color: @color-primary-special-darker;
        }
    }
}

.page {
    max-width: 900px;
    margin: 0 auto;

    .page-title {
        margin-bottom: 1em;
        font-size: 2em;
        color: #fff;
    }

    .page-content {
        .clearfix;

        .list-item {
            @list-item-width: 150px;
            @list-item-height: 150px;
            @list-item-spacing: 5px;
            position: relative;
            float: left;
            display: block;
            width: @list-item-width - @list-item-spacing * 2;
            height: @list-item-height - @list-item-spacing * 2;
            margin: @list-item-spacing;
            color: @color-primary-foreground;
            background: @color-primary-background;
            border-radius: 3px;
            -moz-transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
            -o-transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
            -webkit-transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
            transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
            -moz-animation: grow-fade-in 0.5s ease-in-out both;
            -o-animation: grow-fade-in 0.5s ease-in-out both;
            -webkit-animation: grow-fade-in 0.5s ease-in-out both;
            animation: grow-fade-in 0.5s ease-in-out both;

            &:hover {
                background: fade(#fff, 30%);
                color: @color-secondary-foreground;
            }

            &.list-item-add {
                width: @list-item-width * 2 - @list-item-spacing * 2;
                color: @color-primary-special;
            }

            .list-item-content {
                .vertical-align;

                > .content {
                    width: 100%;
                    padding: 0 10px;
                }
            }

            .name {
                display: block;
                font-weight: 600;
                text-align: center;
            }
        }

        .list-message {
            background: @color-primary-background;
            color: @color-primary-foreground;
            padding: 40px 20px;
            border-radius: 3px;
            max-width: 500px;
            margin: 0 auto;
            text-align: center;
            margin-top: 30px;
            font-weight: 600;
            .slide-down-fade-in(0s);
        }

        .loading-container {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;

            .loading-line {
                position: relative;
                max-width: 300px;
                margin: 0 auto;

                &:before {
                    background: @color-primary-special;
                }
            }
        }
    }
}

#applicationHost,
#shell {
    height: 100%;
}

#shell {
    color: @color-secondary-foreground;
    background: @color-secondary-background;
    background-image: url(images/icons.png);
    background-repeat: repeat-x;
    background-size: 1300px;
    background-position: center top;

    &.authenticated {
        padding-top: 6em;
        padding-bottom: 6em;
    }
}

.window-container {
    position: relative;
    .vertical-align;

    > .content {
        width: 100%;
        max-width: 300px;
        padding: 10px 0;
        .slide-down-fade-in(0.5s);
    }

    .window {
        position: relative;
        color: @color-primary-foreground;
        background: @color-primary-background;
        border-top: 3px solid @color-primary-special;
        border-radius: 3px;
        overflow: hidden;

        .window-title {
            padding: 10px 20px;
            font-size: 2em;
            margin: 10px 0;
            cursor: default;
        }

        .window-content {
            padding: 0 20px 20px;
        }

        .control {
            &.button {
                margin-left: -20px;
                margin-right: -20px;
                margin-bottom: -20px;
                padding-left: 20px;
                padding-right: 20px;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
            }

            &.spacious {
                margin-top: 30px;
            }
        }
    }

    .window-link {
        margin-top: 20px;
        text-align: center;

        .link {
            color: @color-primary-special;

            &:hover {
                color: @color-primary-special-darker;
            }
        }
    }
}

.forgot-password {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    -moz-transition: width 0s ease-in-out;
    -o-transition: width 0s ease-in-out;
    -webkit-transition: width 0s ease-in-out;
    transition: width 0s ease-in-out;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;

    &:hover {
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        width: 100%;

        .forgot-password-sign {
            color: @color-primary-special-darker;
        }

        .tooltip {
            .tooltip-visible;
        }
    }

    .forgot-password-sign {
        width: 1em;
        margin-left: auto;
        padding: 10px 0;
        color: @color-primary-special;
        text-align: center;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -moz-transition: color 0.25s ease-in-out;
        -o-transition: color 0.25s ease-in-out;
        -webkit-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;
        cursor: pointer;
        .text-selection-none;
    }

    .tooltip {
        right: -10px;
        margin-left: -10px;
        padding: 10px 30px 10px 10px;
    }
}

.tooltip {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    background: fade(#000, 80%);
    color: #fff;
    .transition;

    .link {
        color: @color-primary-special;

        &:hover {
            color: @color-primary-special-darker;
        }
    }
}

.tooltip-visible() {
    opacity: 1;
    visibility: visible;
}

.fade-in(@delay) {
    -moz-animation: fade-in 0.5s ease-in-out both @delay;
    -o-animation: fade-in 0.5s ease-in-out both @delay;
    -webkit-animation: fade-in 0.5s ease-in-out both @delay;
    animation: fade-in 0.5s ease-in-out both @delay;
}

.slide-down-fade-in(@delay) {
    -moz-animation: slide-down-fade-in 0.5s ease-in-out both @delay;
    -o-animation: slide-down-fade-in 0.5s ease-in-out both @delay;
    -webkit-animation: slide-down-fade-in 0.5s ease-in-out both @delay;
    animation: slide-down-fade-in 0.5s ease-in-out both @delay;
}