<div id="confirm" class="window-container">
    <div class="content">
        <div class="window">
            <div class="window-title">Confirmation</div>
            <div class="window-content">
                A confirmation email has been sent into your inbox. You can find the steps in the email to successfully recover your account.
            </div>
        </div>
        <div class="window-link" data-bind="with: hash">
            Back to <a href="#login" class="link" data-bind="attr: { href: login }">login</a> page.
        </div>
    </div>
</div>