<div id="confirm" class="window-container">
    <div class="content">
        <div class="window">
            <div class="window-title">Confirmation</div>
            <div class="window-content">
                Your newly created account needs confirmation and an email has been sent into your inbox. The activation link/code can be found in the email.
            </div>
        </div>
        <div class="window-link" data-bind="with: hash">
            Back to <a href="#login" class="link" data-bind="attr: { href: login }">login</a> page.
        </div>
    </div>
</div>