<header id="header" data-bind="css: { visible: navigationManager.claim.isAuthorized }">
    LOGO
    <div class="header-navigation" data-bind="foreach: navigationManager.router.visibleNavigationModel">
        <a href="#" class="header-navigation-item" data-bind="text: title, attr: { href: hash }, css: { active: isActive }"></a>
    </div>
    <div class="header-user">
        <span class="header-user-name" data-bind="text: navigationManager.claim().display"></span>
        <a href="#" class="link link-special header-user-signout" data-bind="click: signout">Sign out</a>
    </div>
</header>